@charset "uft-8"; 



#button{
	float: right;
	width: 130px;
}

label{
	font-family: arial;
	font-size: 1.2em;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
}



@media only screen and (max-width: 800px) {
	#nome{
		width: 330px;
	}
	#email{
		width: 330px;
	}
	#tel{
		width: 330px;
	}

	#menagem{
		width: 330px;
	}
}


#titulo{
	font-size: 2em;
	text-align: center;
}

		input::placeholder, textarea::placeholder{
			text-transform: uppercase;
		}

		textarea{
			max-height: 250px;
			max-width: 600px;
		}