@charset "uft-8"; 

body{
	background-color:#7F8384;
}	
.nav{
	background-color:#363636;
}

.navbar{
	background-color:#363636;
	border: none;
}
/* Fonte que está sendo usada no menu */
.fonte{
	font-size: 1.4em;
	font-family: arial;
}
/*  Fonte que está sendo usada no nome "Menu" para menu responsivo*/
.fonte3{
	font-size: 1.2em;
	font-family: arial;
}


li:hover{
	background-color: #7F8384;

}
/* Classe que está sendo usada no menu responsivo. */
#menuResponsivo{
	float: left;
	background-color:#363636;
	border:none; 
}

/* Logo */
.titulo{
	background-color:#FFFFFF;
	display:flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	bottom:-200px;
}
